{
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#content {
    width: 100%;
    height: 332px;
}

.button {
    color: grey;
    transition: 0.5s;
    /*Makes sure the user cannot select text on the screen to avoid selection when holding down buttons*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#controllerDiv {
    position: auto;
    z-index: 1;
    float: right;
    width: 50%;
    height: 332px;
    font-size: 64px;
}

#forwardButton {
    text-align: center;
}

#leftButton {
    text-align: left;
    width: 50%;
    display: inline-block;
    position: relative;
}

#rightButton {
    text-align: right;
    width: 50%;
    float: right;
}

#backwardButton {
    text-align: center;
    float: none;
}

#controlSpeedDiv {
    width: 50%;
}

#NavBar {
    z-index: 9000;
    background-color: #3b3be6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title {
    height: 56px;
    margin: 0px;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    color: #000060;
    text-align: center;
}


/* Styling for main DIV */

#controlSpeedDiv {
    width: 50%;
    margin: 0px;
    height: 332px;
}


/* Styling for speedbuttons ALL */

.button1 {
    height: 100%;
    margin: 0px;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    color: #808080;
    text-align: center;
    padding-top: 136px;
    transition: 0.5s;
    /*Makes sure the user cannot select text on the screen to avoid selection when holding down buttons*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#speed1 {
    width: 33%;
    float: left;
}

#speed2 {
    width: 34%;
    float: left;
}

#speed3 {
    width: 33%;
    float: left;
}
